body {
    font-family:Arial, Helvetica, sans-serif;

}

.container-g1-aq {
    display: grid;
    grid-template-columns: 95% 5%;
}

.container-g2-aq {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: "form ins";
    grid-column-gap: 15px;
}

.container-g2-aq {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: "form ins";
    grid-column-gap: 15px;
}

.container-g3-aq {
    display: grid;
    grid-template-columns: 2% 20%;
    grid-template-rows: 15px auto 15px;
    grid-template-areas: ". ." ". postq" ". .";
}

.item-postq {
    grid-area: postq;
}


.item-form {
    grid-area: form;
}

.item-ins {
    grid-area:ins;
}

.container-aq {
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


.container1-aq {
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    text-align: left;
    padding: 20px;
}

.container2-aq {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: orangered;
    padding: 20px;
}

.container3-aq {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

.col {
    float: left;
    width: 100%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.heading1-aq {
    font-size: 30px;
}

.heading2-aq {
    font-size: 20px;
    font-weight: bold;
}

.text1-aq {
    font-size: 15px;
}

.text2-aq {
    font-size: 17px;
    font-weight:bold;
}

.color_blue-aq {
    color: orangered;
}

@media (max-width: 1200px) {
    .container-aq, .container1-aq, .container2-aq {
        width: 100%;
    }
}

.textarea-answer {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: .6em .7em;
    border: 1px solid var(--black-200);
    border-radius: 3px;
    background-color: var(--white);
    color: ;
    font-size: 13px;
    font-family: inherit;
    line-height: 1.15384615;

}
.post-button {
    background: #007bff;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    position: relative;
    display: inline-block;
    padding: .8em;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #007bff;
    outline: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.15384615;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    font-size: 100%;
    box-sizing: inherit;
    margin: 0;
}
