body {
    font-family: Arial, Helvetica, sans-serif;
}

.textarea-answer {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}


input[type=button] {
    background-color: #29b5e8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=button]:hover {
        background-color: #0064bd;
    }

.container-g {
    display: grid;
    align-content: space-evenly;
    grid-row-gap: 15px;
}

.container-g1-qd {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: "Title Ask";
    grid-row-gap: 10px;
}

.item-title {
    grid-area: Title;
}

.title-size {
    font-size: 25px;
    word-wrap: normal;
}

.item-ask {
    grid-area: Ask;
    align-self: center;
    justify-items: center;
    place-self: center;
    justify-items: center;
}

.container-g2-qd {
    display: grid;
    grid-template-columns: 10% 10% 15%;
    grid-template-rows: auto;
    grid-template-areas: "de1 de2 de3";
}

.item-de1 {
    grid-area: de1;
    align-self: center;
    justify-items: center;
    place-self: center;
    justify-items: center;
    border-bottom-color: red;
}

.item-de2 {
    grid-area: de2;
    align-self: center;
    justify-items: center;
    place-self: center;
    justify-items: center;
    border-bottom-color: red;
}

.item-de3 {
    grid-area: de3;
    align-self: center;
    justify-items: center;
    place-self: center;
    justify-items: center;
    border-bottom-color: red;
}

.de-size {
    font-size: 15px;
}

.container-g3-qd {
    display: grid;
    grid-template-columns: 10% 60%;
    grid-template-rows: auto;
    grid-template-areas: "button details";
}

.item-button {
    grid-area: button;
    align-self: center;
    justify-items: center;
    place-self: center;
    justify-items: center;
}

.item-details {
    grid-area: details;
    align-self: left;
    justify-items: left;
}

.details-size {
    font-size: 15px;
    word-wrap: normal;
}

.container-g4_qd {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30px 20px 30px;
    grid-template-areas: "up" "count" "down";
}

.item-up {
    grid-area: up;
    align-self: center;
    place-self: center;
    justify-items: center;
    justify-items: center;
}

.item-count {
    grid-area: count;
    align-self: center;
    place-self: center;
    justify-items: center;
    justify-items: center;
}

.item-down {
    grid-area: down;
    align-self: center;
    place-self: center;
    justify-items: center;
    justify-items: center;
}

.container-g5-qd {
    display: grid;
    grid-template-columns: 10% 45%;
    grid-template-rows: auto;
    grid-template-areas: ". code";
}

.item-code {
    grid-area: code;
    align-self: left;
}

.container-g6-qd {
    display: grid;
    grid-template-columns: 10% 5% 5% 5% 5% 5%;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-template-areas: ". tag1 tag2 tag3 tag4 tag5";
}

.item-tag1 {
    grid-area: tag1;
}

.item-tag2 {
    grid-area: tag2;
}

.item-tag3 {
    grid-area: tag3;
}

.item-tag4 {
    grid-area: tag4;
}

.item-tag5 {
    grid-area: tag5;
}

.container-g7-qd {
    display: grid;
    grid-template-columns: 10% 5% 5% 5% 20% 10%;
    grid-template-rows: auto;
    grid-template-areas: ". edit share follow . user";
}

.item-edit {
    grid-area: edit;
}

.item-share {
    grid-area: share;
}

.item-follow {
    grid-area: follow;
}

.item-user {
    grid-area: user;
}

.container-qd {
    position: relative;
    width: 100%;
    padding: 25px;
}

.container-g8-qd {
    display: grid;
    grid-template-columns: 10% 35%;
    grid-template-rows: auto;
    grid-template-areas: ". comment" ". addcomment";
    grid-row-gap: 5px;
}

.item-comment {
    grid-area: comment;
}

.item-addcomment {
    grid-area: addcomment;
}

.container-g9-qd {
    display: grid;
    grid-template-columns: 5% 20% 30% 5% 5% 5%;
    grid-template-rows: auto;
    grid-template-areas: ". noofanswers . old new votes";
}

.item-noofanswers {
    grid-area: noofanswers;
}

.item-old {
    grid-area: old;
    border-style: solid;
    border-color: black transparent black black;
    border-radius: 3px;
    text-align: center;
}

.item-new {
    grid-area: new;
    border-style: solid;
    border-color: black transparent black black;
    border-radius: 3px;
    text-align: center;
}

.item-votes {
    grid-area: votes;
    border-style: solid;
    border-color: black black black black;
    border-radius: 3px;
    text-align: center;
}

.container-g10-qd {
    display: grid;
    grid-template-columns: 5% 20%;
    grid-template-rows: auto;
    grid-template-areas: ". answer";
}

.item-answer {
    grid-area: answer;
}

.container-g11-qd {
    display: grid;
    grid-template-columns: 5% 50%;
    grid-template-rows: auto;
    grid-template-areas: ". answertext";
}

.item-answertext {
    grid-area: answertext;
}

.container-g12-qd {
    display: grid;
    grid-template-columns: 5% 20%;
    grid-template-rows: auto 15px;
    grid-template-areas: ". postanswer" ". .";
}

.item-postanswer {
    grid-area: postanswer;
}

.heading_1 {
    font-size: 20px;
    font-weight: bold;
}

.text_1 {
    font-size: 15px;
}

.text_2 {
    font-size: 15px;
}

.container1-qd {
    border-radius: 5px;
    background-color: orangered;
    padding: 10px;
    text-align: left;
}


.container2-qd {
    width: 100%;
    background-color: lightblue;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
}

.container3-qd {
    padding: 10px;
}

.container4-qd {
    display: grid;
    grid-template-columns: 5% 80% 15%;
    grid-template-rows: auto;
    grid-template-areas: ". border .";
}

.item-border {
    grid-area: border;
    border-style: solid;
    border-color: transparent transparent lightgray transparent;
}

.container8-qd {
    width: 100%;
    border-radius: 3px;
    background-color: lightgray;
    text-align: left;
    padding: 10px;
}


.container10-qd {
    text-align: center;
    border-radius: 5px;
    background-color: lightskyblue;
    padding: 5px;
}


span.square {
    background: #0266a8;
    background: -webkit-linear-gradient(#0266a8 0%, #005389 100%);
    background: -o-linear-gradient(#0266a8 0%, #005389 100%);
    background-image: background: -webkit-linear-gradient(#0266a8 0%, #005389 100%);
    background-image: background: -o-linear-gradient(#0266a8 0%, #005389 100%);
    background-image: background: linear-gradient(#0266a8 0%, #005389 100%);
    border-radius: 5px;
    border-bottom: 1px solid #FFF;
    display: inline-block;
    height: 28px;
    width: 28px;
}

.arrow {
    position: relative;
}

    .arrow.up:after {
        position: absolute;
        top: 9px;
        left: 7px;
        width: 0;
        height: 0;
        content: '';
        border-style: solid;
        border-width: 0 7px 8px 7px;
        border-color: transparent transparent #FFFFFF transparent;
        border-radius: 2px;
    }

    .arrow.up:before {
        position: absolute;
        top: 11px;
        left: 7px;
        width: 0;
        height: 0;
        content: '';
        border-style: solid;
        border-width: 0 7px 8px 7px;
        border-color: transparent transparent rgba(0,0,0,0.7) transparent;
        border-radius: 2px;
    }

    .arrow.down:after {
        position: absolute;
        top: 10px;
        left: 7px;
        width: 0;
        height: 0;
        content: '';
        border-style: solid;
        border-width: 8px 7px 0 7px;
        border-color: #FFFFFF transparent transparent transparent;
        border-radius: 2px;
    }

    .arrow.down:before {
        position: absolute;
        top: 12px;
        left: 7px;
        width: 0;
        height: 0;
        content: '';
        border-style: solid;
        border-width: 8px 7px 0 7px;
        border-color: rgba(0,0,0,0.7) transparent transparent transparent;
        border-radius: 2px;
    }
